{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h1>Create</h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
{% csrf_token %}

<div class="form-group">
  <label for="sel1">Sport:</label>
  <select class="form-control" id="sel1" name="sport">
    {% for value, sport in sport_choices%}
		<option value={{value}}>{{ sport }}</option>
	{% endfor %}
  </select>
</div>

Location:
<br />
<input type="textbox" name="location" />
<br />
start_time:
<br />
<input type="date" name="start_time" />
<br />
end_time:
<br />
<input type="date" name="end_time" />
<br />
wanted_people:
<br />
<input type="text" name="wanted_people" />
<br />
registered_people:
<br />
<input type="text" name="registered_people" />
<br />
price:
<br />
<input type="text" name="price" />
<br />

<div class="form-group">
  <label for="sel1">Skill level:</label>
  <select class="form-control" id="sel2" name="skill_level">
    {% for value, skill in skill_choices%}
		<option value={{value}}>{{ skill }}</option>
	{% endfor %}
  </select>
</div>


<br />
description:
<br />
<input type="text" name="description" />
<br />
<br />
<input class="btn btn-primary" type="submit" value="Add Product" />
</form>

{% endblock %}