{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <p class="text-right"><span class="oi oi-map-marker"></span></a><b>  Location: </b> {{announcement.location}}</p>
  <h1 class="display-4">{{ announcement.get_sport_display}}</h1>
 <hr class="my-4">
<p><b>Description: </b> {{announcement.description}} </p>
  <p><b>Start time: </b> {{announcement.start_time}} </p>
  <p><b>End time: </b> {{announcement.end_time}} </p>
  <p><b>Wanted: </b> {{announcement.wanted_people}} </p>
 <p><b>Registered: </b> {{announcement.registered_people}} </p>
  <p><b>Price: </b> {{announcement.price}} </p>
  <p><b>Skill level: </b> {{announcement.skill_level}} </p>
  <p><b>Publication date: </b> {{announcement.pub_date}} </p>
  <p><b>Creator: </b> {{announcement.creator}} </p>
  
  {% if is_user_signed %}
  <p class="lead">
  <a href="{% url 'resign' announcement.id %}">
              <button class="btn btn-danger btn-lg btn-block">
                 Resign 
              </button>
            </a>
  </p>
  {% else %}
  <p class="lead">
    <a href="{% url 'join' announcement.id %}">
              <button class="btn btn-dark btn-lg btn-block">
               Join! 
              </button>
    </a>
  </p>
  {% endif %}
</div>

<h3>Registered users:</h3>
<ul class="list-group">
 {% for u in users_list %}
 <li class="list-group-item">{{u}}</li>
{% endfor %}
</ul>

{% endblock %}