{% extends 'base.html' %}
{% load static %}



{% block content %}

<div class="album pt-3 py-3">
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    {% for a in ann %}
    <div class="card mb-3 shadow-sm" onclick="window.location='{% url 'detail' a.id %}';" style="cursor: pointer;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img class="h-20" src="{% static "images/"%}{{ a.get_sport_display }}.svg" />
          </div>
          <div class="col-md-5">
            <p class="card-text">{{ a.location }}</p>
            <p class="card-text">{{ a.start_time }}</p>
          </div>
          <div class="col-md-5">
            <p class="card-text">{{a.registered_people}} / {{a.wanted_people}}</p>
            <p class="card-text text-muted">{{a.get_skill_level_display}}</p>
            <a href="{% url 'join' a.id %}">
              <button class="btn btn-dark btn-lg btn-block">
                <span class="oi oi-caret-top"></span> Join! {{ product.votes_total }}
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}